.icon-arr-left {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-arr-right {
  width: 1em;
  height: 1em;
  fill: #0e101e;
}
.icon-clock {
  width: 1.1em;
  height: 1em;
  fill: #1c1c1c;
}
.icon-close {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.6em;
  height: 1em;
  fill: #fff;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-menu-blog {
  width: 1.5em;
  height: 1em;
  fill: #353535;
}
.icon-menu {
  width: 1.5em;
  height: 1em;
  fill: #353535;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #353535;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #523796;
}
.icon-top {
  width: 1.9em;
  height: 1em;
  fill: #121313;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}