// vars
$black: #000
$dark: #353535
$blue: #2575cb
$blue-h: #509cee

html
	font-size: 10px

body
	font-family: 'Roboto', sans-serif 
	font-size: 1.4rem
	line-height: 1.4
	color: #000
	background: #e9e9e9 
	
// blocks
=center
	max-width: 1150px
	margin: 0 auto
	+clr
=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 1.4rem	
.center
	position: relative
	+center
.clr
	+clr	

// header
.header
	height: 70px
	background: #fff 
	&__in
		+center
.logo
	float: left
	width: 180px
	padding-top: 18px
	&.logo_footer
		padding-top: 0
		float: none
		a
			width: 120px
			height: 27px 
	a
		display: inline-block
		width: 152px
		height: 33px
		background: url(../img/logo.png) 0 0 no-repeat
		-webkit-background-size: 100% 
		-o-background-size: 100% 
		background-size: 100%   
.menu
	float: left
	&__list
		+clr
		& > li
			float: left
			& > a
				position: relative
				display: block
				height: 70px
				padding: 0 22px
				+vertical
				z-index: 100
				&:hover
					span
						text-decoration: underline
						&.icon-hamburger
							text-decoration: none
				&.is-open
					background: #fff 
					box-shadow: 0 -12px 30px -3px rgba(0, 0, 0, 0.29)
				span
					display: inline-block
					vertical-align: middle
					font-size: 1.6rem
					color: $black
					font-weight: bold
					&.icon-hamburger
						font-size: 12px
						margin-right: 9px
.dropdown
	position: absolute
	top: 100%
	left: 50%
	transform: translateX(-50%)
	background: #fff
	box-shadow: 0 3px 30px rgba(0, 0, 0, 0.29)
	z-index: 99
	.dropdown__list
		padding: 26px 40px
	.dropdown__premiere
		padding: 26px 40px 
		background: #f8f8f8
		border-top: 1px solid #f0f0f0
	.dropdown__title
		margin-bottom: 15px
		font-size: 1.6rem
		text-transform: uppercase
		font-weight: bold
		color: $black
	.dropdown__list
		display: table
		width: 100% 
	.dropdown__cat
		display: table-cell
		vertical-align: top
		width: 33.3%
		padding-left: 38px
		border-left: 1px solid #f0f0f0
		&:first-child
			border-left: none
			padding-left: 0
	.dropdown__channels
		font-size: 0
		line-height: 1
		margin-top: -30px
		li
			display: inline-block
			vertical-align: top
			width: 50%
			margin-top: 30px
	.dropdown__links
		+justify
		li
			width: 133px 
			+justify-child
			a
				display: block
				text-decoration: none
				img
					display: block
					width: 100%
					margin-bottom: 5px
				p
					font-size: 1.3rem
					color: $dark 
.time
	position: relative
	float: right
	padding-right: 30px
	padding-top: 19px
	padding-left: 38px 
	font-size: 1.2rem
	line-height: 1
	.icon-clock
		position: absolute
		top: 19px
		left: 0
		color: #c0c0c0
		font-size: 29px 
	.time__local
		color: #7d7d7d
		span
			color: $dark
			font-weight: bold
			font-size: 1.6rem
	.time__date
		color: $dark	
		font-weight: bold
		
// footer
.footer
	background: #fff
	&__in
		+center
		padding: 40px 0 80px
	.footer__left
		float: left
		width: 20%
		margin-right: 5%
	.footer__right
		float: left
		width: 75%
		+clr
	.footer__list
		+clr
	.footer__col
		float: left
		width: 22%
		margin-left: 3% 
		& > ul
			li
				margin-bottom: 5px
				a
					font-size: 1.4rem
					color: $dark
					text-decoration: none
					&:hover
						color: $black
						text-decoration: underline
	.footer__title
		display: inline-block
		margin-bottom: 15px
		text-decoration: none
		color: $black
		font-size: 1.4rem
		font-weight: bold
		text-transform: uppercase
		&:hover
			text-decoration: underline
	.footer__post
		text-decoration: none
		color: $dark
		font-size: 1.4rem				 	 
.copyrights
	font-size: 1.2rem
	color: #888 					 	
.date
	font-size: 1.2rem
	color: #868686
	font-style: italic






