doctype html
html
	head
		meta(charset='utf-8')
		title Template
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='format-detection', content='telephone=no')
		link(rel='stylesheet', media='all', href='css/screen.css')
	body
		//- wrapper
		.wrapper
			//- header 
			.header
				.header__center.center
					a.header__logo(href="#")
					//- menu
					button.header__btn-menu.js-menu-btn
						i.icon.icon-close
						i.icon.icon-menu
					.header__menu.menu.js-menu
						.menu__list
							.menu__item
								a.menu__link.menu__link_drop(href="#")
									.menu__icon
										i.icon.icon-menu
									.menu__title Каналы
								.menu__drop
									.menu__channels
										.menu__channels-col
											.menu__channels-title Кино
											.menu__channels-list
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel1.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel2.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel3.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel4.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel5.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel6.png")
										.menu__channels-col
											.menu__channels-title Познавательные
											.menu__channels-list
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel7.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel8.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel9.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel10.png")
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel11.png")
										.menu__channels-col
											.menu__channels-title Спорт
											.menu__channels-list
												a.menu__channels-link(href="#")
													img.menu__channels-pic(src="img/channel12.png")
									.menu__premieres
										.menu__premieres-head Премьеры на Viasat
										.menu__premieres-row
											.menu__premieres-col
												a.menu__premieres-link(href="#")
													.menu__premieres-preview
														img.menu__premieres-pic(src="img/pic1.jpg")
													.menu__premieres-title Бессонная ночь
											.menu__premieres-col
												a.menu__premieres-link(href="#")
													.menu__premieres-preview
														img.menu__premieres-pic(src="img/pic1.jpg")
													.menu__premieres-title Харнас - убежище для диких животных
											.menu__premieres-col
												a.menu__premieres-link(href="#")
													.menu__premieres-preview
														img.menu__premieres-pic(src="img/pic1.jpg")
													.menu__premieres-title Бессонная ночь
											.menu__premieres-col
												a.menu__premieres-link(href="#")
													.menu__premieres-preview
														img.menu__premieres-pic(src="img/pic1.jpg")
													.menu__premieres-title Харнас - убежище для диких животных
											.menu__premieres-col
												a.menu__premieres-link(href="#")
													.menu__premieres-preview
														img.menu__premieres-pic(src="img/pic1.jpg")
													.menu__premieres-title Бессонная ночь
											.menu__premieres-col
												a.menu__premieres-link(href="#")
													.menu__premieres-preview
														img.menu__premieres-pic(src="img/pic1.jpg")
													.menu__premieres-title Харнас - убежище для диких животных
							.menu__item
								a.menu__link(href="#")
									.menu__title Блог
							.menu__item
								a.menu__link(href="#")
									.menu__title Фильмотека
							.menu__item
								a.menu__link.menu__link_red(href="#")
									.menu__title Подключить каналы
							.menu__item
								a.menu__link(href="#")
									.menu__title ТВ-гид
					//- time
					.header__time.time
						.time__cell
							.time__icon
								i.icon.icon-clock
								i.icon.icon-menu-blog
								i.icon.icon-menu-programm
						.time__cell
							.time__wrap
								.time__value 20:24
								.time__type Киевское время
							.time__date 27 января, Среда
			//- promo
			.promo
				.promo__list.js-promo
					.promo__item(style="background-image: url(img/pic2.jpg)")
						.promo__center.center
							.promo__wrap
								.promo__channel
									img.promo__channel-pic(src="img/action-tv-1000.png")
								.promo__info
									.promo__title БЕЗУМНЫЙ МАКС
									.promo__text Дорога ярости
								.promo__when
									.promo__date 27 января
									.promo__time 23:45
					.promo__item(style="background-image: url(img/pic2.jpg)")
						.promo__center.center
							.promo__wrap
								.promo__channel
									img.promo__channel-pic(src="img/action-tv-1000.png")
								.promo__info
									.promo__title БЕЗУМНЫЙ МАКС
									.promo__text Дорога ярости
								.promo__when
									.promo__date 27 января
									.promo__time 23:45
					.promo__item(style="background-image: url(img/pic2.jpg)")
						.promo__center.center
							.promo__wrap
								.promo__channel
									img.promo__channel-pic(src="img/action-tv-1000.png")
								.promo__info
									.promo__title БЕЗУМНЫЙ МАКС
									.promo__text Дорога ярости
								.promo__when
									.promo__date 27 января
									.promo__time 23:45
			//- search
			.search
				.search__center.center
					.search__wrap
						//- title
						.search__title.title Фильмы, актеры, публикации
						.search__form
							.search__icon
								i.icon.icon-search
							input.search__input(type="text")
						.search__text Гипнотический рифф вызывает форшлаг, в таких условиях можно спокойно выпускать пластинки раз в три года
			//- section
			.section
				//- center
				.center
					//- title
					.title Публикации в блоге
					//- blog
					.blog
						//- row
						.blog__row.row.js-blog
							.blog__col
								.blog__group
									.blog__head
										.blog__head-lines(style="color: #d81e59;") //
										.blog__head-title События
									.blog__list
										a.blog__link(href="#")
											.blog__preview
												img.blog__pic(src="img/pic6.jpg")
											.blog__link-title ПРЕМЬЕРА! Самое интересное о новом сезоне "The X-Files"
										a.blog__link(href="#")
											.blog__link-title Лучшие сериалы по версии иностранной прессы Голливуда
										a.blog__link(href="#")
											.blog__link-title Великолепная десятка: победители премии "Золотой глобус - 2016"
							.blog__col
								.blog__group
									.blog__head
										.blog__head-lines(style="color: #8d39ce;") //
										.blog__head-title Звездная жизнь
									.blog__list
										a.blog__link(href="#")
											.blog__preview
												img.blog__pic(src="img/pic6.jpg")
											.blog__link-title ПРЕМЬЕРА! Самое интересное о новом сезоне "The X-Files"
										a.blog__link(href="#")
											.blog__link-title Лучшие сериалы по версии иностранной прессы Голливуда
										a.blog__link(href="#")
											.blog__link-title Великолепная десятка: победители премии "Золотой глобус - 2016"
							.blog__col
								.blog__group
									.blog__head
										.blog__head-lines(style="color: #1fd166;") //
										.blog__head-title Мудрые мысли
									.blog__list
										a.blog__link(href="#")
											.blog__preview
												img.blog__pic(src="img/pic6.jpg")
											.blog__link-title ПРЕМЬЕРА! Самое интересное о новом сезоне "The X-Files"
										a.blog__link(href="#")
											.blog__link-title Лучшие сериалы по версии иностранной прессы Голливуда
										a.blog__link(href="#")
											.blog__link-title Великолепная десятка: победители премии "Золотой глобус - 2016"
							.blog__col
								.blog__group
									.blog__head
										.blog__head-lines(style="color: #5a78f1;") //
										.blog__head-title Коллекция
									.blog__list
										a.blog__link(href="#")
											.blog__preview
												img.blog__pic(src="img/pic6.jpg")
											.blog__link-title ПРЕМЬЕРА! Самое интересное о новом сезоне "The X-Files"
										a.blog__link(href="#")
											.blog__link-title Лучшие сериалы по версии иностранной прессы Голливуда
										a.blog__link(href="#")
											.blog__link-title Великолепная десятка: победители премии "Золотой глобус - 2016"
							.blog__col
								.blog__group
									.blog__head
										.blog__head-lines(style="color: #ff7e00;") //
										.blog__head-title Кинолента
									.blog__list
										a.blog__link(href="#")
											.blog__preview
												img.blog__pic(src="img/pic6.jpg")
											.blog__link-title ПРЕМЬЕРА! Самое интересное о новом сезоне "The X-Files"
										a.blog__link(href="#")
											.blog__link-title Лучшие сериалы по версии иностранной прессы Голливуда
										a.blog__link(href="#")
											.blog__link-title Великолепная десятка: победители премии "Золотой глобус - 2016"
						//- more
						.blog__more.more
							button.more__btn
								span.more__icon
									i.icon.icon-menu-blog
								span.more__title Читать блог
			//- section
			.section.section_blue
				//- center
				.center
					//- title
					.title Премьеры на&nbsp;VIASAT
					//- premieres
					.premieres
						//- row
						.premieres__row.row.js-premiers
							.premieres__col
								.premieres__item
									a.premieres__link(href="#")
										.premieres__preview
											img.premieres__pic(src="img/pic3.jpg")
											//- label
											.premieres__label.label
												.label__cover(style="background: #e66d20;")
												.label__title Viasat Comedy HD
											.premieres__when
												.premieres__time 17:55
												.premieres__date 27 января
										.premieres__content
											.premieres__title Копы в глубоком запасе
											.premieres__text 2010, США
											.premieres__text Боевик, Комедия, Криминальное кино
							.premieres__col
								.premieres__item
									a.premieres__link(href="#")
										.premieres__preview
											img.premieres__pic(src="img/pic3.jpg")
											//- label
											.premieres__label.label
												.label__cover(style="background: #0d4f7d;")
												.label__title Viasat Comedy HD
											.premieres__when
												.premieres__time 17:55
												.premieres__date 27 января
										.premieres__content
											.premieres__title Копы в глубоком запасе
											.premieres__text 2010, США
											.premieres__text Боевик, Комедия, Криминальное кино
							.premieres__col
								.premieres__item
									a.premieres__link(href="#")
										.premieres__preview
											img.premieres__pic(src="img/pic3.jpg")
											//- label
											.premieres__label.label
												.label__cover(style="background: #e66d20;")
												.label__title Viasat Comedy HD
											.premieres__when
												.premieres__time 17:55
												.premieres__date 27 января
										.premieres__content
											.premieres__title Копы в глубоком запасе
											.premieres__text 2010, США
											.premieres__text Боевик, Комедия, Криминальное кино
							.premieres__col
								.premieres__item
									a.premieres__link(href="#")
										.premieres__preview
											img.premieres__pic(src="img/pic3.jpg")
											//- label
											.premieres__label.label
												.label__cover(style="background: #e66d20;")
												.label__title Viasat Comedy HD
											.premieres__when
												.premieres__time 17:55
												.premieres__date 27 января
										.premieres__content
											.premieres__title Копы в глубоком запасе
											.premieres__text 2010, США
											.premieres__text Боевик, Комедия, Криминальное кино
							.premieres__col
								.premieres__item
									a.premieres__link(href="#")
										.premieres__preview
											img.premieres__pic(src="img/pic3.jpg")
											//- label
											.premieres__label.label
												.label__cover(style="background: #e66d20;")
												.label__title Viasat Comedy HD
											.premieres__when
												.premieres__time 17:55
												.premieres__date 27 января
										.premieres__content
											.premieres__title Копы в глубоком запасе
											.premieres__text 2010, США
											.premieres__text Боевик, Комедия, Криминальное кино
			//- section
			.section
				//- center
				.center
					//- title
					.title Скоро в эфире
					//- premieres
					.premieres
						.premieres__group
							.premieres__head
								//- row
								.premieres__head-row.row
									.premieres__head-col.col-25
										a.premieres__detail(href="#")
											.premieres__detail-title Узнать подробнее
											.premieres__detail-icon
												i.icon.icon-arrow-right
									.premieres__head-col.col-75
										.premieres__head-title Кино
										.premieres__head-text Лучшие голливудские и российские фильмы последних лет. Самые яркие и запоминающиеся премьеры, лидеры проката, шедевры мирового кинематографа
							.premieres__grid
								//- row
								.premieres__grid-row.row
									.premieres__grid-col.col-50
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic4.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #e66d20;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
								a.premieres__grid-more(href="#") Узнать подробнее
						.premieres__group
							.premieres__head
								//- row
								.premieres__head-row.row
									.premieres__head-col.col-25
										a.premieres__detail(href="#")
											.premieres__detail-title Узнать подробнее
											.premieres__detail-icon
												i.icon.icon-arrow-right
									.premieres__head-col.col-75
										.premieres__head-title Познавательные
										.premieres__head-text Самые впечатляющие и зрелищные документальные сериалы, которые погружают зрителя в мир дикой природы, исторических сенсаций, приключений и открытий
							.premieres__grid
								//- row
								.premieres__grid-row.row
									.premieres__grid-col.col-50
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic4.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #e66d20;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
								a.premieres__grid-more(href="#") Узнать подробнее
						.premieres__group
							.premieres__head
								//- row
								.premieres__head-row.row
									.premieres__head-col.col-25
										a.premieres__detail(href="#")
											.premieres__detail-title Узнать подробнее
											.premieres__detail-icon
												i.icon.icon-arrow-right
									.premieres__head-col.col-75
										.premieres__head-title Cпорт
										.premieres__head-text Бокс, баскетбол, бейсбол, гонки, волейбол, американский футбол и многое другое. Популярнейшие соревнования и спортивные поединки, прямые трансляции и повторы лучших матчей
							.premieres__grid
								//- row
								.premieres__grid-row.row
									.premieres__grid-col.col-50
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic4.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #e66d20;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
									.premieres__grid-col.col-25
										a.premieres__link(href="#")
											.premieres__preview
												img.premieres__pic(src="img/pic3.jpg")
												//- label
												.premieres__label.label
													.label__cover(style="background: #0d4f7d;")
													.label__title Viasat Comedy HD
												.premieres__when
													.premieres__time 17:55
													.premieres__date 27 января
											.premieres__content
												.premieres__title Копы в глубоком запасе
												.premieres__text 2010, США
												.premieres__text Боевик, Комедия, Криминальное кино
								a.premieres__grid-more(href="#") Узнать подробнее
						//- more
						.premieres__more.more
							button.more__btn
								span.more__icon
									i.icon.icon-menu-programm
								span.more__title Вся телепрограмма
			//- selfpromo
			a.selfpromo(href="#" style="background-image: url(img/pic2.jpg)")
				//- center
				.selfpromo__center.center
					.selfpromo__title SELFPROMO
			//- section
			.section.section_banners
				//- center
				.center
					//- banners
					.banners
						//- row
						.banners__row.row
							.banners__col.col-25
								//- banner
								.banner(style="background-image: url(img/bg-banner-catalog.jpg);")
									.banner__wrap
										.banner__text Только лучшие фильмы, сериалы, научно-популярные передачи и события из мира спорта на каналах VIASAT
										button.banner__btn(href="#") ФИЛЬМОТЕКА
							.banners__col.col-50
								//- banner
								.banner.banner_catalog(style="background-image: url(img/bg-banner-guide.jpg);")
									.banner__wrap
										.banner__text Смотрите программу вещания, устанавливайте напоминания на интересующую вас передачу или фильм
										button.banner__btn(href="#") ТВ-ГИД
							.banners__col.col-25
								.banners__list
									.banners__list-col
										//- banner
										a.banner.banner_link(href="#" style="background-image: url(img/bg-banner-viasat.jpg);")
											.banner__wrap
												.banner__title ПОДКЛЮЧАЙТЕ КАНАЛЫ
												.banner__logo
													img.banner__logo-pic(src="img/logo.png" height="30")
									.banners__list-col
										//- banner
										a.banner.banner_link(href="#" style="background-image: url(img/bg-banner-megogonet.jpg);")
											.banner__wrap
												.banner__title смотрите на
												.banner__logo
													img.banner__logo-pic(src="img/logo-megogonet.png" height="18")
					//- subscribe
					.subscribe
						.subscribe__wrap
							//- title
							.subscribe__title.title Подпишитесь на&nbsp;анонсы!
							.subscribe__text Еженедельная рассылка анонсов на телеканалах Viasat
							.subscribe__form
								input.subscribe__input(placeholder="Ваш e-mail")
								button.subscribe__btn ok
							.subscribe__info Мы не занимаемся рассылкой спама!
			//- section
			.section.section_slider
				//- center
				.center
					//- slider
					.slider
						.slider__row.js-slider
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel1.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel2.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel3.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel4.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel5.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel6.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel7.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel8.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel9.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel10.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel11.png")
							.slider__item
								a.slider__link(href="#")
									img.slider__logo(href="#")(src="img/channel12.png")
			//- footer
			.footer
				.footer__center.center
					.footer__row.row
						.footer__col.col-25
							a.footer__logo(href="#")
							.footer__copyright © 2009-2015 Viasat.
							.footer__copyright Все права защищены
						.footer__col.col-25
							.footer__nav
								a.footer__nav-link(href="#") О КОМПАНИИ
								a.footer__nav-link(href="#") О нас
								a.footer__nav-link(href="#") Команда			
								a.footer__nav-link(href="#") Контакты
						.footer__col.col-25
							.footer__nav
								a.footer__nav-link(href="#") ПРЕСС-КОМНАТА
								a.footer__nav-link(href="#") Полезные ссылки
								a.footer__nav-link(href="#") Скачать логотипы
								a.footer__nav-link(href="#") Скачать телепрограмму
						.footer__col.col-25
							.footer__nav
								a.footer__nav-link(href="#") ПОДКЛЮЧИТЬ КАНАЛЫ
		//- scripts
		script(src='js/lib/head.js', data-headjs-load='js/init.js')
