@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('eot'),
         url('../fonts/iconfont.woff') format('woff'),
         url('../fonts/iconfont.woff2') format('woff2'),
         url('../fonts/iconfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$icon-arrow-left: "\EA01";
$icon-arrow-right: "\EA02";
$icon-clock: "\EA03";
$icon-close: "\EA04";
$icon-menu-blog: "\EA05";
$icon-menu-programm: "\EA06";
$icon-menu: "\EA07";
$icon-next: "\EA08";
$icon-prev: "\EA09";
$icon-search: "\EA29";


%icon {
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    text-rendering: auto;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    @extend %icon;
    display: inline-block;
}

.icon-arrow-left:before { content: $icon-arrow-left; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-clock:before { content: $icon-clock; }
.icon-close:before { content: $icon-close; }
.icon-menu-blog:before { content: $icon-menu-blog; }
.icon-menu-programm:before { content: $icon-menu-programm; }
.icon-menu:before { content: $icon-menu; }
.icon-next:before { content: $icon-next; }
.icon-prev:before { content: $icon-prev; }
.icon-search:before { content: $icon-search; }
