---
title: Напоминание о трансляции
snippet: Learn more about the latest Chris's discoveries
css: main.css
bg: '#e8e9f1'
headerBgColor: '#a92650'
headerBg: 'http://www.viasat-channels.tv/img/mail/headerBg.png'
footerbg: '#e8e9f1'
when: '20:00'
action: 'фильм'
nameAction: 'Безумный Макс. Дорога Ярости'
linkAction: 'http://www.viasat-channels.tv/program/bezumnyj-maks-doroga-arosti
'
buttonLink: 'http://www.viasat-channels.tv/tv-guide'
width: 600px

premieres : [
{
	Link: '#',
	Img: 'https://gm1.ggpht.com/COpDTE49E2EEoyirUm5Lb2DWOF1adUchZXJhXhTSH7m8bsazJ7uNpLRzGyc38gECLA8esOyq5G_I-nBMeuh6ojgfP2xOen7n4A2lLO-EBysapFva3NPP3gjsQlkeoXZ9xYarY-qlL51yJjubfnzFzLcr-sNZuhDvwcqoW8bckB2DN5kF2e3VwXphWOFjMJG06oppEyT-DH2JPSvgHD5W11gtLYAy61YKljXFVVXSa6LcqAPOqyLxWoa-7mYWfPtFupRRUiT8U_u7St_8Ylyp30X9xQzzhyRCDRGjMfl5UYv23YXrEcPdFtLQnwduEr1QOC8njk9lzy9JV7H9zfvf3w6aRDJv02jlT9HSTKWN8hPs4d22r_FV3ysiJfYuOAKOs_UGR2hjlbejtaJGlm4QMpy1RjOIRNYSH1wTN52m5fSMyrIOkxfrWHKGmSkMJzzqzcDVCzqhxL5oQ1BgKmJSKiEm7v9eRurrnUDE_aY2PmGr7F20HXSzcFfMgPc8rUV8jIXj5LkYaVWepvC717v6A3aNM3SsDr8_Dr5pmqXve8sLpCVPPoE5v4kafkE2T2LrGSyNOKppCtdUAVZwStyhdmgybPhkbb4CLnFurqj3IzuVnZb4ccMrTBy1kbQPix4mYO2OkcpcjPrK9-45Lj9cEH3aNyUS2gpOV2NLYUMgOrXrSXxT8PR9q2reNMHNxKMxkvtChL61F8hufXSr=s0-l75-ft-l75-ft',
	Star: 'https://gm1.ggpht.com/02sbbWA-krRiUPGHeWyGWI6PXH8OjA1WuGM_BZDLTt2EFDpy1CJHJVG32UVjfknONYoaFymNa8xKynXBaWCS8gnrMD7pqyELguSmhvFM-79C-TXY_REpPjjmDDFdqEUL9cqox0ep6TCj3KjcduAf5tHzD6WBXeV7eHSLw2Xfbn5kKBN2jqjxs4SPcEy5bpvYz2WmQaBrEcIQ9Lsev5m53vB-JNqDec8JKM1mu97mryQ8Zf9yFX9nFD10NCEkgdtCUwYtPfaf9l-s-oCX8x5-xb20Ts3uBxbifrZbZCYiKZ17MBbXrbgVWu10e32_QahH7kqf1VmY-sewK9ZUyHjMoEEIWgvyAAZXHJ-Ckmdu0Yw6CerYeUwA6tuGnynhDVBR4JeMf6ks4gWFxD7CppmsKOHOGxtwCcQnMn-LPHMWtqeeoO9-AtkEJRKub95_tE15bsvpS2ob41-wNTQZNygElkyDQze2w1lDUP7tvQcCbBIl_5IdOqvKKNeZ8GAAAE6sferaMRPMB1H7rj74NT_VQ0TbXrgwd30QBArgSYUUVBMgTT_sXUCr1zm5hikBYxxprztOqTI33XStozKGGBEXh6kfcHElofd7uqRLj2bKS6zYRhwbHw1XWn6Mte15vUCRyT5bl1CkCH9bOaYfk5dArrOn_3Pifo9sj44jeu-so4wnq8GGuJ3N3LisAmXMO6_8bOU1xpvIER0QN0Tw=s0-l75-ft-l75-ft',
	Film: 'Игра в иммитацию',
	Type: 'комедия, драма, семейный',
	Country: 'Великобритания, 2011',
	Time: '22:45',
	Date: '28 сентября',
	chanel: 'TV1000 Premium HD'
},
{
	Link: '#',
	Img: 'https://gm1.ggpht.com/ikow5jJo1WoUOwMdJooNQBDWyVAbO_YUSGd35NVa9hy4EMnKfIHYM-oQj1boJH8YDeB3aPHoM2UN2fpg8dWhvqmIaU8KHkWOkr9pZGsgM_DGzmYBYknwO3EEiRebOBe0WCJMGjURSHQkT--wyo4IFNR7BDSZcA96dfkhXQtEYSeQ6IzYBdaKnExc7U3q-60hkry-HdSKAOUhkarcBHV46hgg6YcZAv_GKTTqQcOGVzHCn1RHePFcT9wDl3e-7tKmMSaVEH0zdNpsU3r5zLcHvjXVK3XId-5jT_swtcftZ-RYqrC_KdAR6nMZwD-SImifLwk1gch4qnvkpU_u5sXHAk5yukXMZQtSQkEPHXtjVRytLq7hVqPvCPDCp8DgHs6gJ3X8lSD3AzNZhIpP63gewtk11kY0AAX-aesLoJfjbB-bT6Hx2T709mynZqo2rK4rPTF0uP4FqN-TqWsNzYfVSPN7Hd2CRxxIZLMIB8hqQIigHh8zscupPcy3GaDyL5SgUvddJ_YvU4r6m2Ma7EFBmnC8_2prMT6pL_-y54KIflrZaYXNYR2YYXBy5oAZZskp48TLMmaORbfyGrgpsuB9nT_X9kkLtIaD56BOKCpbuexSnAjFoExDcFqJZMjYdNeLVpCfKicTl-wgnZEgI9vf2UGCsFJi_yQ3piDrFcCJhDy29pvmuVt0lbQ89xBiy6S8TUII-iWlhylORZD4=s0-l75-ft-l75-ft',
	Star: 'https://gm1.ggpht.com/02sbbWA-krRiUPGHeWyGWI6PXH8OjA1WuGM_BZDLTt2EFDpy1CJHJVG32UVjfknONYoaFymNa8xKynXBaWCS8gnrMD7pqyELguSmhvFM-79C-TXY_REpPjjmDDFdqEUL9cqox0ep6TCj3KjcduAf5tHzD6WBXeV7eHSLw2Xfbn5kKBN2jqjxs4SPcEy5bpvYz2WmQaBrEcIQ9Lsev5m53vB-JNqDec8JKM1mu97mryQ8Zf9yFX9nFD10NCEkgdtCUwYtPfaf9l-s-oCX8x5-xb20Ts3uBxbifrZbZCYiKZ17MBbXrbgVWu10e32_QahH7kqf1VmY-sewK9ZUyHjMoEEIWgvyAAZXHJ-Ckmdu0Yw6CerYeUwA6tuGnynhDVBR4JeMf6ks4gWFxD7CppmsKOHOGxtwCcQnMn-LPHMWtqeeoO9-AtkEJRKub95_tE15bsvpS2ob41-wNTQZNygElkyDQze2w1lDUP7tvQcCbBIl_5IdOqvKKNeZ8GAAAE6sferaMRPMB1H7rj74NT_VQ0TbXrgwd30QBArgSYUUVBMgTT_sXUCr1zm5hikBYxxprztOqTI33XStozKGGBEXh6kfcHElofd7uqRLj2bKS6zYRhwbHw1XWn6Mte15vUCRyT5bl1CkCH9bOaYfk5dArrOn_3Pifo9sj44jeu-so4wnq8GGuJ3N3LisAmXMO6_8bOU1xpvIER0QN0Tw=s0-l75-ft-l75-ft',
	chanel: 'TV1000 Comedy HD ',
	Film: 'В центре внимания ',
	Type: 'комедия',
	Country: 'США, 2014',
	Time: '21:00',
	Date: '29 сентября'
},
{
	Link: '#',
	Img: 'https://gm1.ggpht.com/PgK3X47povks9P4UjiRQTImfHHF-esQeRDeMaXJn5908J-0_HsJqiUFaCXekQws7yQIdzZ7eGscc7gcH6TIWNsKpQVI4ljVEe5AG1XG3RyN5aqLg8u8c8RPtjOmLaRrd44WAfdQoWyJ4EcyuIvtHzZKwAFGYSLgN4YwosGCZKo6fHkyPR9GKvQVmi6wjcbmOoodvuquOVwE-1BFz4kZM9_0qoc9OZsenIw4bLaX4eUIpPq9ztTxcHJjzZsKFG94mtgtfYV_l8D90Z3QQ15PMsPsB5ZiIGJX-33KI7g_4ZMP-_zVBcqoXIsoE7ywaoiWq2q5HePPprZ61HQy3a8X3lghcHfVdDYlhC8pf5u5QYgFUIyyF9L5zAfS2B_uhosi7xgrt2wPeR0BoEuQepg7KCZsc1qixWJ_1d4s9J5SKq7oNLyWP7PB-U53dRZr28XdoercIbPMZPgcc0VjXsjV2VzAhxf0yh3SacCRWc2-P_E7PgMn9WGH83ZZbHSaoSv4bsRyzPc57FeKEIITKjnLKWzNslJY0d0-KC1koMNObvxakqh-NgdWXY54i3-VrIuTNMp01W7AlB5CtwaXpI-uWpbPrkWlzA2sBRmoU346M6xJ_wkFcMndtpjMj2IJexC2cVupPRIBz3GUjeqfz-2xajoK69JpyLiU0ir3pHXhEaf0MEFwTZJTV8e2uvSjozXB-9G-aqNB9VPMi2v49=s0-l75-ft-l75-ft',
	Star: 'https://gm1.ggpht.com/02sbbWA-krRiUPGHeWyGWI6PXH8OjA1WuGM_BZDLTt2EFDpy1CJHJVG32UVjfknONYoaFymNa8xKynXBaWCS8gnrMD7pqyELguSmhvFM-79C-TXY_REpPjjmDDFdqEUL9cqox0ep6TCj3KjcduAf5tHzD6WBXeV7eHSLw2Xfbn5kKBN2jqjxs4SPcEy5bpvYz2WmQaBrEcIQ9Lsev5m53vB-JNqDec8JKM1mu97mryQ8Zf9yFX9nFD10NCEkgdtCUwYtPfaf9l-s-oCX8x5-xb20Ts3uBxbifrZbZCYiKZ17MBbXrbgVWu10e32_QahH7kqf1VmY-sewK9ZUyHjMoEEIWgvyAAZXHJ-Ckmdu0Yw6CerYeUwA6tuGnynhDVBR4JeMf6ks4gWFxD7CppmsKOHOGxtwCcQnMn-LPHMWtqeeoO9-AtkEJRKub95_tE15bsvpS2ob41-wNTQZNygElkyDQze2w1lDUP7tvQcCbBIl_5IdOqvKKNeZ8GAAAE6sferaMRPMB1H7rj74NT_VQ0TbXrgwd30QBArgSYUUVBMgTT_sXUCr1zm5hikBYxxprztOqTI33XStozKGGBEXh6kfcHElofd7uqRLj2bKS6zYRhwbHw1XWn6Mte15vUCRyT5bl1CkCH9bOaYfk5dArrOn_3Pifo9sj44jeu-so4wnq8GGuJ3N3LisAmXMO6_8bOU1xpvIER0QN0Tw=s0-l75-ft-l75-ft',
	chanel: 'TV1000 Action HD ',
	Film: 'Терминатор 3: восстание машин',
	Type: 'драма, биография, музыка',
	Country: 'США, 2014',
	Time: '21:15',
	Date: '30 сентября'
}
]

---
{% extends "layouts/_layout.html" %}
{% block content %}
	<tr  class="content">
		<td  height="270"  align="center" id="content">
			<table width="100%" style="background-image: url('http://www.viasat-channels.tv/img/mail/banner.png');">
				{{mixins.space(39)}}
				<tr>
					<td width="600" align="center" height="35"><div class="title">Приветствуем!</div></td>
				</tr>
				{{mixins.space(2)}}
				<tr>
					<td width="600" align="center" height="15"><div class="sub-title sub-title_black">Напоминаем, что сегодня в</div></td>
				</tr>
				{{mixins.space(102)}}
				<tr>
					<td width="600" align="center"><div class="time">{{when}}</div></td>
				</tr>
				{{mixins.space(69)}}
			</table>
		</td>
	</tr>
	{{mixins.space(32)}}
	<tr>
		<td align="center">
			<div class="sub-title">начнется {{action}}</div>
		</td>
	</tr>
	{{mixins.space(8)}}
	<tr>
		<td align="center">
			<a href="{{linkAction}}" class="main">"{{nameAction}}"</a>
		</td>
	</tr>
	{{mixins.space(31)}}
	<tr>
		<td align="center">
			<div class="sub-title">Не пропустите!</div>
		</td>
	</tr>

	{{mixins.space(30)}}
	<tr>
		<td>
			<table>
				<tr>
					<td width="184"><table height="55" width="184" style="background: url(img/btn-before.png)"></table></td>
					<td><a href="{{buttonLink}}" class="button">Вся телепрограмма</a></td>
					<td width="186"><table height="55" width="186" style="background: url(img/btn-after.png)"></table></td>
				</tr>
			</table>
		</td>
	</tr>
	{{mixins.space(46)}}
	<tr>
		<td height="1" align="center">
			<table>
				<tr>
					<td width="35"></td>
					<td><table height="1" width="530" style="background: url(img/separator.png)"></table></td>
					<td width="35"></td>
				</tr>
			</table>

		</td>
	</tr>
	{{mixins.space(40)}}
	<!-- end TOP AREA -->
{% endblock %}

<!-- block  premiere -->

{% block secondPart %}
	<tr>
		<td align="center"><div class="title title_small">Премьеры этой недели</div></td>
	</tr>
	{{mixins.space(40)}}
	<tr>
		<td>
			<table>
				<tr>
					{% for img in premieres %}
					<td width="200"><a class="premiere-link"href="{{img.Link}}"><img style="width:100%; height:100%;" src="{{img.Img}}" alt="{{img.Film}}"></a></td>
					{% endfor %}
				</tr>
				{{mixins.space(12)}}
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					{% for star in premieres %}
						<td width="10"></td>
						<td width="13" height="12" style="vertical-align: top">
							<a class="premiere-link"href="{{star.Link}}"><img src="{{star.Star}}" alt="star"></a>
						</td>
						<td width="17"></td>
						<td width="160" height="12"><a class="premiere-link"href="{{star.Link}}"><div class="chanel">{{star.chanel}} </div></a></td>
					{% endfor %}
				</tr>
				{{mixins.space(15)}}
			</table>
		</td>
	</tr>

	<tr>
		<td>
			<table>
				<tr>
					{% for str in premieres %}
						<td width="6"></td>

						<td width="130" valign="top" align="left">
							<a class="premiere-link" href="{{str.Link}}"><div class="film">{{str.Film}}</div></a>
							<!-- <a class="premiere-link" href="{{premiere.Link}}"><div class="type">{{premiere.Type}} <br><span>{{premiere.Country}}</span></div></a> -->
						</td>
						<td width="58" align="right">
							<a class="premiere-link"href="{{str.Link}}"><div class="time-of-action">{{str.Time}}</div></a>
							<!-- <a class="premiere-link"href="{{premiere.Link}}"><div class="date-of-action">{{premiere.Date}}</div></a> -->
						 </td>
						<td width="6"></td>
					{% endfor %}
				</tr>
				<tr>
					{% for premiere in premieres %}
					<td width="6"></td>

					<td width="130" valign="top" align="left">
						<!-- <a class="premiere-link" href="{{str.Link}}"><div class="film">{{str.Film}}</div></a> -->
						<a class="premiere-link" href="{{premiere.Link}}"><div class="type">{{premiere.Type}} <br><span>{{premiere.Country}}</span></div></a>
					</td>
					<td width="58" align="right">
						<!-- <a class="premiere-link"href="{{str.Link}}"><div class="time-of-action">{{str.Time}}</div></a> -->
						<a class="premiere-link"href="{{premiere.Link}}"><div class="date-of-action">{{premiere.Date}}</div></a>
					 </td>
					<td width="6"></td>
					{% endfor %}
				</tr>

			</table>
		</td>
	</tr>
{{mixins.space(33)}}

{% endblock %}
