---
title: Film
---

{% extends "./layouts/_layout.html" %}

{% block content %}
    <div class="out out_film">
        <div class="topper" style="background-image: url(img/film1.jpg)">
            <div class="topper__in">
                <div class="center">
                    {# nav #}
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Фильмoтека</a></li>
                            <li>Фильмы</li>
                        </ul>
                    </nav>
                    <div class="topper__head">
                        <h1 class="h1">Фильм</h1>
                        <ul class="socials">
                            <li><a href="#">{{ mixins.icon('fb') }}</a></li>
                            <li><a href="#">{{ mixins.icon('vk') }}</a></li>
                            <li><a href="#">{{ mixins.icon('instagram') }}</a></li>
                        </ul>
                    </div>
                    <div class="film-main">
                        <div class="film-main__title">Одержимость</div>
                        <div class="film-main__original">Whiplash</div>
                        <div class="film-main__about">
                            <div class="film-main__item">
                                <ul>
                                    <li>2014</li>
                                </ul>
                            </div>
                            <div class="film-main__item">
                                <ul>
                                    <li>США</li>
                                    <li>Англия</li>
                                    <li>Франция</li>
                                    <li>Италия</li>
                                </ul>
                            </div>
                            <div class="film-main__item">
                                <ul class="film-main__genre">
                                    <li>Драма</li>
                                    <li>Музыка</li>
                                    <li>Комедия</li>
                                    <li>Боевик</li>
                                </ul>
                            </div>
                            <div class="film-main__item">
                                <ul>
                                    <li>107 мин.</li>
                                </ul>
                            </div>
                            <div class="film-main__item">
                                <ul>
                                    <li>16+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="topper__bottom">
                        <nav class="nav">
                            <ul>
                                <li><a href="#" class="active">Постеры</a></li>
                                <li><a href="#">Кадры и цитаты</a></li>
                                <li><a href="#">Трейлеры</a></li>
                                <li><a href="#">Награды</a></li>
                                <li><a href="#">Отзывы</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {# main page content #}
        <div class="main">
            <div class="center">
                <div class="film">
                    <div class="film__left">
                        <div class="film__poster">
                            <img src="img/poster.jpg" alt="">
                        </div>
                        <div class="like-block">
                            <button class="like">{{ mixins.icon('like') }} <span>712</span></button>
                            <button class="dislike">{{ mixins.icon('like') }} <span></span></button>
                        </div>
                        <div class="rating rating_small">
                            <div class="rating__item">
                                <ul class="rating__stars">
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star active">{{ mixins.icon('star-full') }}</li>
                                    <li class="star">{{ mixins.icon('star-full') }}</li>
                                </ul>
                                <div class="rating__value">9.1</div>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team__block">
                                <div class="team__row">
                                    <div class="team__left">Режиссер:</div>
                                    <div class="team__right">Дэмьен Шазелл</div>
                                </div>
                                <div class="team__row">
                                    <div class="team__left">Сценарий:</div>
                                    <div class="team__right">Дэмьен Шазелл</div>
                                </div>
                                <div class="team__row">
                                    <div class="team__left">Продюсер:</div>
                                    <div class="team__right">
                                        <p>Джейсон Блум</p>
                                        <p>Хелен Блум</p>
                                        <p>Дэвид Ланкастер</p>
                                    </div>
                                </div>
                            </div>
                            <div class="team__block">
                                <div class="team__row">
                                    <div class="team__left">Оператор:</div>
                                    <div class="team__right">Дэмьен Шазелл</div>
                                </div>
                                <div class="team__row">
                                    <div class="team__left">Оператор:</div>
                                    <div class="team__right">Дэмьен Шазелл</div>
                                </div>
                                <div class="team__row">
                                    <div class="team__left">Оператор:</div>
                                    <div class="team__right">
                                        <p>Джейсон Блум</p>
                                        <p>Хелен Блум</p>
                                        <p>Дэвид Ланкастер</p>
                                    </div>
                                </div>
                            </div>
                            <div class="team__block">
                                <div class="team__row">
                                    <div class="team__left">Оператор:</div>
                                    <div class="team__right">Дэмьен Шазелл</div>
                                </div>
                                <div class="team__row">
                                    <div class="team__left">Оператор:</div>
                                    <div class="team__right">Дэмьен Шазелл</div>
                                </div>
                                <div class="team__row">
                                    <div class="team__left">Оператор:</div>
                                    <div class="team__right">Дэмьен Шазелл</div>
                                </div>
                            </div>
                        </div>
                        <div class="quote">
                            <p>Дорога к величию может привести вас к краю...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}